<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="SectionSettingsCheckLifeTimeFiles" type="System.Configuration.NameValueSectionHandler" />
		<section name="StartupFolders" type="ConsoleAppCheckLifeTimeFiles.Models.Configuration.StartupFoldersConfigSection, ConsoleAppCheckLifeTimeFiles"/>
	</configSections>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

	<appSettings>
		<add key="KeyA" value="ValueA" />
		<add key="KeyB" value="ValueB" />
		<add key="KeyC" value="ValueC" />
	</appSettings>

	<SectionSettingsCheckLifeTimeFiles>
		<!--Интервал проверки времени жизни файла в секундах-->
		<add key="IntervalCheckLifeTimeFiles" value="10" />
		<!--Допустимое время жизни файла в секундах-->
		<add key="AllowLifeTimeFiles" value="30" />
	</SectionSettingsCheckLifeTimeFiles>

	<!--Директории, где отслеживать файлы-->
	<StartupFolders>
		<Folders>
			<add folderKey="path1" path="D:\Test\1" />
			<add folderKey="path2" path="D:\Test\2" />
			<add folderKey="path3" path="D:\Test\3" />
			<add folderKey="path4" path="D:\Test\4" />			
		</Folders>
	</StartupFolders>
	
</configuration>

